@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background: #0d0d0d;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}
